h5 {
  background-color: rgb(230, 230, 230);
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  margin-bottom: 0;
  padding: 5px;
}
label {
  text-align: center;
  font-weight: 600;
}
span {
  border: 2px solid black;
  padding-left: 4px;
  margin-right: 5px;
  border-left: none;
}
.form-group {
  border: 2px solid black;
  border-top: none;
  margin-bottom: 0px;
}
.form-control {
  margin-left: 20px;
  margin-bottom: 5px;
  width: 98%;
  background-color: rgb(235, 251, 252);
}
#businessName {
  background-color: rgb(238, 235, 199);
}
.row .col .form-control {
  width: 90%;
}
.row .facsimile-number {
  margin-left: -15px;
  border-left: none;
}
.row .telephone-number {
  margin-right: -15px;
}
.table {
  margin-bottom: 0px;
}
table td {
  font-weight: 600;
  border: 2px solid black;
  background-color: rgb(235, 251, 252);
}
table .base td {
  text-align: center;
  background-color: rgb(230, 230, 230);
}
.type-two {
  padding-bottom: 10px;
}
.type-two span {
  padding-right: 5px;
}
.type-two label {
  padding-right: 75px;
}
.type-two input {
  background-color: rgb(235, 251, 252);
  color: rgb(235, 251, 252);
}
